<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>HARBR - </title>
      <link rel="icon" type="image/png" href="/img/favicon.png">
      <link href="/js/jquery.js" rel="stylesheet">
      <link href="/css/demo.css" rel="stylesheet">

      <meta name="description" content="">
      <link rel="manifest" href="site.webmanifest">
      <link rel="apple-touch-icon" href="icon.png">
      <!-- Place favicon.ico in the root directory -->
      <link rel="stylesheet" href="css/normalize.css">
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/styles.css"/>
    {{{block head}}}
  </head>
  <body>
  <pre>/views/layouts/default.hbs</pre>
  {{{body}}}
<h5>
    All non-server-side processed files are served from <pre>/public</pre>

</h5>

  </body>
</html>
