<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Right - Bootstrap Admin Template</title>
      <link rel="icon" type="image/png" href="/img/favicon.png">
      <link href="/js/jquery.js" rel="stylesheet">

      <link href="/css/demo.css" rel="stylesheet">
    {{{block head}}}
  </head>
  <body>
  <pre>/views/layouts/default.hbs</pre>
  {{{body}}}
<h5>
    All non-server-side processed files are served from <pre>/public</pre>

</h5>

  </body>
</html>