
<pre>/views/index.hbs</pre>
<div class="index" style="margin-left:2em">

    <div id="logo"><img src="images/HRBR_Logo_Primary.png" class="logoImage"/></div>

<div class="container">
  <div class="picture"><img src="/img/fullpage.png" alt="..."></div>

  <div class="main"></div>

  <div class="navicon"></div>

</div>
</div>
