
<pre>/views/index.hbs</pre>
<div class="index" style="margin-left:2em">
<div class="container">
  <div class="picture"><img src="/img/fullpage.png" alt="Mountain View" width="500" height="377"></div>

  <div class="main"></div>

  <div class="navicon"></div>

</div>
</div>
