
<pre>/views/index.hbs</pre>
<div class="index" style="margin-left:2em">
<div class="container">
  <div class="picture"></div>

  <div class="main"></div>

  <div class="navicon"></div>

</div>
</div>
