
<pre>/views/index.hbs</pre>
<div class="index" style="margin-left:2em">
<<<<<<< HEAD
    <div id="logo"><img src="images/HRBR_Logo_Primary.png" class="logoImage"/></div>
=======
<div class="container">
  <div class="picture"></div>

  <div class="main"></div>

  <div class="navicon"></div>

</div>
>>>>>>> 9abcacd3b88d5285a72277ba7fb1c8cf0542829b
</div>
